{% extends 'base.html' %}

{% block content %}
<form action="{% url 'students:students' %}">
    <div class="input-group">
        {% if subject.image %}
        <img src="{{ subject.image.url }}" alt="Imagen del producto" width="200" height="100">
        {% endif %}
        <div class="card-body d-flex">
            <input type="submit" name="" value="Back" class="btn btn-dark btn-sm ml-auto">
        </div>
    </div>
</form>
<div class="col">
    <div class="h1">{{ subject.name }}
        <div class="h5 font-weight-bold">
            Price: <span class="text-danger">${{ subject.price }}</span>
        </div>
        <div class="h6">
            <p>{{ subject.description }}</p>
        </div>

    </div>
    {% for p in teacher %}

    <ul>
        <li>
            {{ p.user.first_name }} {{ p.user.last_name }}

            <form action="http://www.educatech.tech/messages/{{p.user}}/">

                <div class="input-group">

                    <div class="card-body d-flex">

                        <input type="submit" name="" value="Chat" class="btn btn-dark btn-sm">
                    </div>

                </div>
            </form>

            <form action="http://www.educatech.tech/teachers/{{p.user}}/">

                <div class="input-group">

                    <div class="card-body d-flex">


                        <input type="submit" name="" value="Profile" class="btn btn-dark btn-sm">
                    </div>

                </div>
            </form>


        </li>
    </ul>

    {% endfor %}
</div>
{% endblock %}
