{% extends 'base.html' %}
{% block content %}

<div style="font-family: Antic;">
    
    <h1>Profile Teacher</h1>
    <h2>{{teacher.first_name|title}} {{teacher.last_name|title}}</h2>

    {% if teacher.image_profile %}
    <img src="http://www.educatech.tech/media/{teacher.image_profile}}" alt="Picture Teacher" width="200" height="200"
    title="{{teacher.first_name|title}} {{teacher.last_name|title}}">
    {% else %}
    <img src="https://pbs.twimg.com/profile_images/1190306174643703810/Kpad9Nmp_400x400.jpg" alt="Picture Teacher"
    width="100" height="100" title="{{teacher.first_name|title}} {{teacher.last_name|title}}">
    {% endif %}
    <div class="table-responsive" style="padding: 30px; margin: 0px -15px;">
        <table class="table table-borderless text-center" style="border: none;">
            <tbody>
            <tr>
            <td style="height: 135px;">
                <h4>Username: {{teacher.username}}</h4>
                <h4>Email: {{teacher.email}}</h4>
                <h4>City: {{teacher.city|title}}</h4>
                <h4>Last Login: {{teacher.last_login}}</h4>
            </td>
            <td>
                <form action="{% url 'teachers:quiz_change_list' %}">
                    <div class="input-group">
                        <div class="card-body d-flex">
                            <input type="submit" name="" value="Quizzes" class="btn btn-danger btn-lg">
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        <tr></tr>
    </tbody>
</table>
</div>
<div class="container center-block">
<h2>My subjects</h2>
{% for sub in subject %}
<div class="w-25 p-3" style="margin-left: 330px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark"><strong>{{sub}}</strong></li>
    </ul>
</div>
{% endfor %}
</div>
<h2>My experience</h2>
<p>{{teacher.description}}</p>
<h2>My Classes</h2><br>
{% for name in student %}
<ul class="list-inline mx-auto justify-content-center">
    <li style="list-style: none;">
        <h4><strong>{{name.user.first_name}} {{name.user.last_name}}</strong></h4>
        <form action="http://www.educatech.tech/messages/{{name.user}}/">
            <div class="container center-block input-group">
                <div class="card-body d-flex" style="margin-left: 385px;">
                    <input type="submit" name="" value="Chat" class="btn btn-dark btn-lg">
                </div>
            </div>
        </form>
    </li>
</ul>
{% endfor %}
</div>

{% endblock %}
