{% extends 'base.html' %}
{% block content %}


<h1>Profile Teacher</h1>
<h2>{{teacher.first_name|title}} {{teacher.last_name|title}}</h2>

{% if teacher.image_profile %}
<img src="http://www.educatech.tech/media/{{teacher.image_profile}}" alt="Picture Teacher" width="200" height="200"
    title="{{teacher.first_name|title}} {{teacher.last_name|title}}">
{% else %}
<img src="https://pbs.twimg.com/profile_images/1190306174643703810/Kpad9Nmp_400x400.jpg" alt="Picture Teacher"
    width="200" height="200" title="{{teacher.first_name|title}} {{teacher.last_name|title}}">
{% endif %}
<h4>Username: {{teacher.username}}</h4>
<h4>Email: {{teacher.email}}</h4>
<h4>City: {{teacher.city|title}}</h4>
<h4>Last Login: {{teacher.last_login}}</h4>
<h4>Subject</h4>
{% for sub in subject %}
<div class="w-25 p-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">{{sub}}</li>
    </ul>
</div>
{% endfor %}

<h4>Experience</h4>
<p>{{teacher.description}}</p>

<div class="card-body d-flex">
    <button id="back" type="submit" name="" value="Back" class="btn btn-dark btn-sm ml-auto">Back</button>
</div>



{% endblock %}
{% block script %}
<script>
    let boton = document.getElementById("back");
    boton.addEventListener("click", function () {
        window.history.back();
    }
        , false);
</script>


{% endblock %}
