footer {
  font-size: .9rem;
}

footer a {
  color: #212529;
}

.list-group-formset label {
  display: none;
}

.list-group-formset .form-group,
.list-group-formset .invalid-feedback {
  margin-bottom: 0;
}

.list-group-formset .form-control {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-student {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-student:hover,
.btn-student:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.btn-teacher {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-teacher:hover,
.btn-teacher:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.btn-login {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-login:hover,
.btn-login:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.btn-sign {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-sign:hover,
.btn-sign:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.btn-select {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-select:hover,
.btn-select:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.btn-search {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-search:hover,
.btn-search:active {
  color: #fff;
  background-color: #636474;
  border-color: #636474;
}

.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}


