{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row" style="width:500px; margin:0 250px; padding: 40px">
        <form method="post" style="font-family: Antic, sans-serif;" style="height: 455px;margin: 0px 221px;">
          {% csrf_token %}
            <h2 class="sr-only">Log in</h2>
            <div class="illustration">
                <h1 style="font-family: 'Homemade Apple', cursive;color: rgb(241,244,71); padding: 30px 30px;">Welcome back!</h1>
            </div>
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <div class="form-group"><button class="btn btn-dark btn-lg btn-block" type="submit" style="font-family: Antic, sans-serif;">Log In</button></div>
        </form>
    </div>
  </div>
{% endblock %}
