{% extends "base.html" %}

{% block content %}

<form action="{% url 'students:students' %}">

    <div class="input-group">
        <div class='row border-bottom my-4 py-0'>
            <div class='col'>
                <h1 class='p-1 m-2'>Chat Educatech</h1>
            </div>
        </div>


    </div>

</form>
<button id="back" type="submit" name="" value="Back" class="btn btn-dark btn-sm ml-auto">Back</button>

<h3> {% if user.is_teacher %}Student {% else %}Teacher
    {% endif %}{% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
    {% for chat in object.chatmessage_set.all %}

    <li style="list-style:none;"><strong>{{ chat.user }}:</strong> {{ chat.message }} </li>

    {% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername' value='{{ user.username }}' />
    {{form.as_p }}
    <input type='submit' class='btn btn-primary' />
</form>
<form action="https://meet.jit.si/{{ object.first }}" target="_blank">

    <div class="input-group">

        <div class="card-body d-flex">

            <input type="submit" name="" value="Link Video Chat" class="btn btn-dark btn-sm">
        </div>

    </div>
    </div>

</form>


{% endblock %}

{% block script %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
<script>
    // websocket scripts
    //console.log(window.location)
    var loc = window.location
    var formData = $("#form")
    var msgInput = $("#id_message")
    var chatHolder = $("#chat-items")
    var me = $("#myUsername").val()
    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new ReconnectingWebSocket(endpoint)

    socket.onmessage = function (e) {
        console.log("message", e)
        console.log(e.data)
        var chatDataMsg = JSON.parse(e.data)
        chatHolder.append("<li>" + "<strong>" + chatDataMsg.username + ": " + "</strong>" + chatDataMsg.message + "</li>")
    }
    socket.onopen = function (e) {
        console.log("open", e)
        formData.submit(function (event) {
            event.preventDefault()
            var msgText = msgInput.val()
            //chatHolder.append("<li>" + me + ": " + msgText + "</li>")
            // var formDataSerialized = formData.serialize()
            var finalData = {
                'message': msgText
            }
            socket.send(JSON.stringify(finalData))
            // msgInput.val('')
            formData[0].reset()
        })
    }
    socket.onerror = function (e) {
        console.log("error", e)
    }
    socket.onclose = function (e) {
        console.log("mclose", e)
    }

    let boton = document.getElementById("back");
    boton.addEventListener("click", function () {
        window.history.back();
    }
        , false);
</script>
{% endblock %}
